/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- shadcn トークンのデフォルト値 --- */
:root {
  --border: 220 14% 95%;
  --input: 220 14% 97%;
  --ring: 220 90% 56%;
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;

  --primary: 220 90% 56%;
  --primary-foreground: 0 0% 100%;

  --secondary: 210 40% 96%;
  --secondary-foreground: 222 47% 11%;

  --muted: 210 40% 96%;
  --muted-foreground: 215 20% 25%;
}
