@tailwind base;
@tailwind components;
@tailwind utilities;

/* ――追加で “リセット” 系を入れておくと bullet が消える ―― */

/* @layer utilities {
  ul[class] {
    @apply list-none p-0 m-0;
  }
} */

ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}
